<template name="footer">
    <div class="wrapperFooter">
        <div>
            <div class="textInfo">
                Konak Construction Company is in the business since 1971<br> 
                which started in Ankara, and continued in Alanya since 1986<br> 
                well known for quality built hotels and luxury residences<br> 
                Konak construction company signed close to hundred projects since 1971
            </div>
            <div class="textInfo">        
                Konak construction is well known for high quality projects and built<br> 
                them accordance with guidelines that comply with seismic<br>
                Most of the projects are award winning
            </div>
        </div>                
        <div class="adress">
                Konak SeaSide Homes, Sahil Caddesi, No:4, 
                Kargıcak, Alanya, TURKEY 07400<br>
                Tel: (+90 242) 526 26 36<br>
                Faks: (+90 242) 526 26 3
        </div>
        <div class='subscribeAndRights'>
            <div class='newsletter'>
                NEWSLETTER
            </div>
        <div class='inputWrapper'> 
            <input type="text" class='inputNewsletter'><div class='iconNewsletter'>X</div>
        </div>            
        <div class='copyright'>
            Copyright Konak Constrution © 2006 - 2018. All rights reserved
        </div>
        <div class='policy'>
            Privacy Policy | Terms of Use
        </div>
    </div>  
    </div>
</template>