.navProject {
    display: flex;
    flex-direction: row;
    margin-left: 6rem;
    margin-top:3rem;
    justify-content: space-between;
    width:38rem;
    a {
        color:black;
        padding:0.4rem 0;
        font-family: Belleza;
        font-size: 1.4rem; 
    }
    


    a,a:visited,a:hover,a:active{
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
        position:relative;
    transition:0.5s color ease;
        text-decoration:none;
        
        
    }
    
    a.before:before,a.after:after{
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
    position:absolute;
    }
    a.before:before{
    top:-0.15rem;
    }
    a.after:after{
    bottom:-0.15rem;
    }
    a.before:before,a.after:after{
    height:0.15rem;
    width:0;
    background:#cc9900;
    }
    
    a.third:after{
    left:50%;
    -webkit-transform:translateX(-50%);
            transform:translateX(-50%);
    }
    a.fourth:before,a.fourth:after{
    left:0;
    }
    
    a.before:hover:before,a.after:hover:after{
    width:100%;
    }
    
    
    
}