<template name="invest">
    <div class="wrapperInvest">
        <h1>CONTACT US</h1>
        <h3>ENQUIRES</h3>
        <span>To request more information on Konak Construction Projects, including Pricing, Floor Plans and Brochures, and to discover its range of attractive investment opportunities, please use the form below.</span>
        <form class="form">            
            <input type="text" placeholder="FIRST NAME*" name="firstName" class="form-control required">
            <input type="text" placeholder="LAST NAME*" name="lastName" class="form-control required">
            <input type="text" placeholder="E-MAIL*" name="email" class="form-control required email">
            <input type="text" placeholder="PHONE NUMBER*" name="phoneNumber" class="form-control required">
            <textarea  cols="30" rows="5" placeholder="ENQUIRY*" name="enquiry" class="form-control required"></textarea>
            <input class="senddata" type="submit" value="SEND">
        </form>
    </div>
    
</template>