<template name="brand">
    <div class="wrapper-brand">
        <h2>Welcome to Konak Construction!</h2>
        <span>
                In every type of construction of Konak Construction, there are many references at home and abroad with quality, excellent service and the principle of economy. In Industrial Structures, Social and Commercial Buildings, Houses, Tourist Buildings with vast experience and high quality staff we achieve great things in a short time. Our company is providing services to an international status. We made many domestic and foreign customers to have a home and to be business owner. With the principle of a professional and honest approach to business we had brought customer base from many countries.
        </span>
        <h4>
                Our company has been awarded with certificates, thanks and appreciation by a variety of municipalities and public institutions.
        </h4>
        <ul>
            <li>
                    We operate in the construction industry since 1965 in Ankara and in 1986 we continued our actives in Alanya.
            </li>
            <li>
                    Since 1997, Konak Construction Ltd. continues to operate with partnership Hasan Hacıfazlıoğlu,Recep Hacıfazlıoğlu.
            </li>
            <li>
                    Approximately 2000 houses were built.
            </li>
        </ul>
        <h4>
                Our purpose:
        </h4>
        <ul>
            <li>
                    Being creative, innovative and entrepreneurial.
            </li>
            <li>
                    Service in customer relationships and in management approach to provide high quality service.
            </li>
            <li>
                    Relationship of customer satisfaction and trust.
            </li>
            <li>
                    Principle of seeing the customer as a business partner.
            </li>
            <li>
                    To deliver high quality service as soon as possible in the most cost-effective way.
            </li>
        </ul>
        <span>
                In Konak construction projects, at all our constructed sites we use bored pile system and radiant foundations. Our luxury sites are resist-made to all natural disaster.Konak Construction is concentrating all technical engineering services on sites so we are creating a peacefull and security place to live.
        </span>
        <h3>
                YOU ARE INVITED TO KONAK CONSTRUCTION
        </h3>
        <span>
                With two construction projects going on in Alanya, Konak Construction invites you to a world city being a symbol of the green and blue, the sea and the sun.
        </span>
        <span>
                Konak Construction projects creates green scenic places to live, but still you can reach by foot the beach and the sea.
        </span>
    </div>
</template>